<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book notes</title>
    <!-- reference to external style sheet. Included in head-section so that css is loaded before the content is rendered -->
    <link rel="stylesheet" type="text/css" href="styles/main.css" />
  </head>
  <body>
    <!--add header-->
    <%- include("partials/header.ejs") %>

    <!--main part of the page -->
    <% if(locals.bookNotes) {%>
    <div class="container">
      <form action="/new" method="POST">
        <input type="submit" value="Add new note" />
      </form>
    </div>
    <% bookNotes.forEach(note => { %>
    <div class="container book">
      <h2><%= note.title %></h2>
      <div class="container notes-image">
        <div>
          <img
            src="https://covers.openlibrary.org/b/isbn/<%= note.isbn %>-M.jpg"
            alt="Book cover"
          />
        </div>
        <div>
          <p class="note"><%= note.note %></p>
        </div>
      </div>
      <button type="button">Edit note</button>
    </div>

    <% }); } else { %>
    <form class="form" action="/new" method="POST">
      <input type="submit" value="Add new note" />
    </form>
    <% } %>

    <!--add footer-->
    <%- include("partials/footer.ejs") %>
  </body>
</html>
